.custom{
    padding: 0.8rem;
    background-color:#EEF2FF;
    border-radius: 2rem;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-family: 500;
    letter-spacing: 2px;
    color: #4F46E5
}
.random{
    gap:0.5em;
}
.hoovr {
  transition: 0.3s ease;
}
.hoovr:hover{
  box-shadow: 0 0 15px rgba(13, 110, 253, 0.5);
}
.hee{
   background-color:rgba(79, 57, 246, 0.9) ;
}
.lee{
    color:white;
}
.koo{
  padding-bottom: 5rem;
}